Repository F5Networks/f5-google-gdm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_function_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

Path conditions:
  gdm_network_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/network/**/*, examples/modules/network/network.py
  gdm_application_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/**/*, examples/modules/application/application.py
  gdm_bastion_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, examples/modules/bastion/bastion.py
  gdm_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, examples/modules/bigip-autoscale/bigip_autoscale.py
  gdm_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip_standalone.py
  gdm_dag_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/**/*, examples/modules/dag/dag.py
  gdm_function_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/**/*, examples/modules/function/function.py
  gdm_autoscale_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, examples/autoscale/payg/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_existing_network_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, examples/autoscale/payg/autoscale-existing-network.py, examples/autoscale/payg/autoscale-existing-network.py.schema, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_bigiq_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, examples/autoscale/bigiq/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/function/function.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  gdm_quickstart_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/**/*, examples/quickstart/quickstart.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/quickstart/bigip-configurations/*
  gdm_failover_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/**/*, examples/failover/failover.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/failover/bigip-configurations/*

lice 10
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

try with port 22
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

license for port 22
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

change image to byol and update license
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

bigger vm
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

lice
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: gdm_failover_test_job

lic
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

lic + version down
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

lic p
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

add support for multi-az
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/sample_failover_existing_network.yaml
Due: none

fixed incorrect yaml
  examples/failover/sample_failover_existing_network.yaml
Due: none

increased function deployment timeout
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/create_stack.sh
Due: gdm_function_module_test_job

Clarify bigIpPeerAddress descriptions in Templates
  examples/failover/README.md
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
Due: none

update test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

fix broken links
  examples/quickstart/README.md
Due: none

bumped AT versions to latest as of 10-4
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_quickstart_test_job, gdm_failover_test_job

initial commit
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

updated customImageId logic
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/create_stack.sh
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale.py
  examples/failover/failover-existing-network.py
  examples/failover/failover.py
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/quickstart/quickstart-existing-network.py
  examples/quickstart/quickstart.py
Due: gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

updated READMEs
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/quickstart/README.md
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

Updated Desciriptions and Config Notes for bigIpCustomImageId
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/README.md
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

Cleaned up / formatted Config Files
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/README.md
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

Added uncomment to comments for bigIpCustomImageId param
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

fix lint errors
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

added indents
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

Format mods++
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

Fixed missing space
  examples/failover/sample_failover.yaml
Due: none

Format tweak++
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none
