Repository F5Networks/f5-google-gdm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_function_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

gdm_network_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_application_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bastion_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_autoscale_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_standalone_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_dag_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_function_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_autoscale_payg_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_autoscale_existing_network_payg_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

ESECLDTPLT-3063 - Functional test enhancements
  .gitlab-ci.yml
Due: none

add default runtime init package url value to bigip module schemas
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/tests/verify_instance_onboarded.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/tests/verify_runtimeinit_install_params.sh
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
  examples/modules/bigip-standalone/bigip_standalone.py.schema
Due: gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job

Fixes for ESECLDTPLT-3086
  automated-test-scripts/data/test_policies/khanna.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_quickstart_test_job

updated default image info in READMEs
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

ESECLDTPLT-3118 - Make TS Values in Runtime-Init dynamic
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/create_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
  examples/modules/bigip-autoscale/sample_bigip_autoscale.yaml
Due: gdm_bigip_autoscale_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job

updated autoscale existing stack to use app runtime configs
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/create_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job

update test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

3142 -CFE storage fixes
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigiq/README.md
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/modules/bigip-standalone/bigip_standalone.py
Due: gdm_bigip_standalone_module_test_job, gdm_quickstart_test_job, gdm_failover_test_job

3144 - Support pre-existing service account
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/payg/full/demo_app_3nic_v14 copy.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_access_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack_existing_network.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/daily_test_existing.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/create_existing_network_stack.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/failover/failover-existing-network.py
  examples/failover/failover.py
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network.py
  examples/quickstart/quickstart.py
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

gettig rid of internal nic
  examples/failover/sample_failover.yaml
Due: none

bigip config modifications for two NICs
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: gdm_failover_test_job

failover num_nics to 2
  examples/failover/failover.py
Due: gdm_failover_test_job

3138 - Support multiple availability zones for failover
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/defaults.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/defaults.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/prod_app.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/get_mgmt_ip.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack_existing_network.sh
  examples/failover/README.md
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

unique
  examples/failover/sample_failover.yaml
Due: none

tuning existing failover example for two nics
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/sample_failover_existing_network.yaml
Due: none

deploy helpful info
  examples/failover/cfe-info-and-commands
  examples/failover/workarond-mgmt-route
Due: none

tune fw rules
  examples/failover/failover-existing-network.py
Due: none

allow ssh for workaround
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: gdm_failover_test_job

rename info file and disable autoPhonehome
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/info-and-commands
Due: gdm_failover_test_job

poa to info file
  examples/failover/info-and-commands
Due: none

byol
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: gdm_failover_test_job

lic
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover.yaml
Due: gdm_failover_test_job

rollback to e722a054362348c034a3ed3e6d5624a60be6b168
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/failover-existing-network.py
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

no autophone
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

Path conditions:
  gdm_network_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/network/**/*, examples/modules/network/network.py
  gdm_application_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/**/*, examples/modules/application/application.py
  gdm_bastion_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, examples/modules/bastion/bastion.py
  gdm_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, examples/modules/bigip-autoscale/bigip_autoscale.py
  gdm_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip_standalone.py
  gdm_dag_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/**/*, examples/modules/dag/dag.py
  gdm_function_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/**/*, examples/modules/function/function.py
  gdm_autoscale_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, examples/autoscale/payg/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_existing_network_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, examples/autoscale/payg/autoscale-existing-network.py, examples/autoscale/payg/autoscale-existing-network.py.schema, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_bigiq_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, examples/autoscale/bigiq/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/function/function.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  gdm_quickstart_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/**/*, examples/quickstart/quickstart.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/quickstart/bigip-configurations/*
  gdm_failover_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/**/*, examples/failover/failover.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/failover/bigip-configurations/*
