Repository F5Networks/f5-google-gdm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_function_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

Path conditions:
  gdm_network_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/network/**/*, examples/modules/network/network.py
  gdm_application_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/**/*, examples/modules/application/application.py
  gdm_bastion_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, examples/modules/bastion/bastion.py
  gdm_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, examples/modules/bigip-autoscale/bigip_autoscale.py
  gdm_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip_standalone.py
  gdm_dag_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/**/*, examples/modules/dag/dag.py
  gdm_function_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/**/*, examples/modules/function/function.py
  gdm_autoscale_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, examples/autoscale/payg/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_existing_network_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, examples/autoscale/payg/autoscale-existing-network.py, examples/autoscale/payg/autoscale-existing-network.py.schema, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_bigiq_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, examples/autoscale/bigiq/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/function/function.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  gdm_quickstart_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/**/*, examples/quickstart/quickstart.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/quickstart/bigip-configurations/*
  gdm_failover_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/**/*, examples/failover/failover.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/failover/bigip-configurations/*

3219 - Add REST performance db variables
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-standalone/bigip_standalone.py
Due: gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

3223 - using 32 subnet mask for self IP addresses per Google docs
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_quickstart_test_job, gdm_failover_test_job

3172 - add 2nic option to failover templates
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/existing/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/byol/full/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/existing/prod_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/demo.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/demo_app.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/prod.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/payg/full/prod_app.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/create_storage_upload_runtime.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack_defaults.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack_existing_network.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/daily_test_existing.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/daily_test_full.yaml
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

3239: fixed dangling bastion instance issues
  automated-test-scripts/f5-google-gdm-templates-v2/common/delete_instance_group.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/delete_target_pool.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/daily_test.yaml
Due: gdm_bastion_module_test_job, gdm_dag_module_test_job

EC-88
  README.md
Due: none

function_fix
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/tests/verify_job.sh
Due: gdm_function_module_test_job

fix python error in bigip modules
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-standalone/bigip_standalone.py
Due: gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

sync AT metadata
  Makefile
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_quickstart_test_job, gdm_failover_test_job

update test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

updated test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

update release job node version
  .gitlab-ci.yml
Due: none

update AT versions
  Makefile
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_quickstart_test_job, gdm_failover_test_job

EC-139 - Document using a secret to store and retrieve ASM cookie settings
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
Due: none

EC-348 - Support deploying into shared VPCs
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/create_existing_network_stack.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/failover/failover-existing-network.py
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network.py
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: gdm_autoscale_existing_network_payg_test_job, gdm_quickstart_test_job

update runtime and AT versions
  Makefile
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_quickstart_test_job, gdm_failover_test_job

update runtime default version
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
  examples/modules/bigip-standalone/bigip_standalone.py.schema
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network.py.schema
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: gdm_autoscale_existing_network_payg_test_job

bump cfe version
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: gdm_failover_test_job

bump template version
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/modules/access/access.py
  examples/modules/access/access.py.schema
  examples/modules/application/application.py
  examples/modules/application/application.py.schema
  examples/modules/bastion/bastion.py
  examples/modules/bastion/bastion.py.schema
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/modules/bigip-standalone/bigip_standalone.py.schema
  examples/modules/dag/dag.py
  examples/modules/dag/dag.py.schema
  examples/modules/function/function.py.schema
  examples/modules/network/network.py
  examples/modules/network/network.py.schema
  examples/quickstart/quickstart-existing-network.py
  examples/quickstart/quickstart-existing-network.py.schema
  examples/quickstart/quickstart.py
  examples/quickstart/quickstart.py.schema
Due: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

runtime test
  Makefile
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/tests/verify_instance_onboarded.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/tests/verify_login.sh
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_quickstart_test_job

cfe update test
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: gdm_failover_test_job

update runtime a nd cfe versions
  Makefile
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_failover_test_job

feat: update latest AT versions
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_quickstart_test_job, gdm_failover_test_job

bump runtime and AT versions
  Makefile
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_quickstart_test_job, gdm_failover_test_job

bump version to 3.2.0.0
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/modules/access/access.py
  examples/modules/access/access.py.schema
  examples/modules/application/application.py
  examples/modules/application/application.py.schema
  examples/modules/bastion/bastion.py
  examples/modules/bastion/bastion.py.schema
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/modules/bigip-standalone/bigip_standalone.py.schema
  examples/modules/dag/dag.py
  examples/modules/dag/dag.py.schema
  examples/modules/function/function.py.schema
  examples/modules/network/network.py
  examples/modules/network/network.py.schema
  examples/quickstart/quickstart-existing-network.py
  examples/quickstart/quickstart-existing-network.py.schema
  examples/quickstart/quickstart.py
  examples/quickstart/quickstart.py.schema
Due: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job
