Repository F5Networks/f5-google-gdm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_function_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

gdm_network_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_application_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bastion_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_autoscale_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_standalone_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_dag_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_function_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_autoscale_payg_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_autoscale_existing_network_payg_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

chore: bump AT versions
  Makefile
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_failover_test_job

fix: use centos 9 for app instance
  examples/modules/application/application.py
Due: gdm_application_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

chore: bump template version:
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/modules/access/access.py
  examples/modules/access/access.py.schema
  examples/modules/application/application.py
  examples/modules/application/application.py.schema
  examples/modules/bastion/bastion.py
  examples/modules/bastion/bastion.py.schema
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/modules/bigip-standalone/bigip_standalone.py.schema
  examples/modules/dag/dag.py
  examples/modules/dag/dag.py.schema
  examples/modules/function/function.py.schema
  examples/modules/network/network.py
  examples/modules/network/network.py.schema
  examples/quickstart/quickstart-existing-network.py
  examples/quickstart/quickstart-existing-network.py.schema
  examples/quickstart/quickstart.py
  examples/quickstart/quickstart.py.schema
Due: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

fix: update debian repository
  .gitlab-ci.yml
Due: none

fix: update version on readme's
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

release: merge release branch into main
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/bigiq/sample_autoscale_existing_network.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale_existing_network.yaml
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/quickstart-existing-network.py.schema
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

Path conditions:
  gdm_network_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/network/**/*, examples/modules/network/network.py
  gdm_application_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/**/*, examples/modules/application/application.py
  gdm_bastion_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, examples/modules/bastion/bastion.py
  gdm_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, examples/modules/bigip-autoscale/bigip_autoscale.py
  gdm_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip_standalone.py
  gdm_dag_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/**/*, examples/modules/dag/dag.py
  gdm_function_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/**/*, examples/modules/function/function.py
  gdm_autoscale_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, examples/autoscale/payg/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_existing_network_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, examples/autoscale/payg/autoscale-existing-network.py, examples/autoscale/payg/autoscale-existing-network.py.schema, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_bigiq_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, examples/autoscale/bigiq/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/function/function.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  gdm_quickstart_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/**/*, examples/quickstart/quickstart.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/quickstart/bigip-configurations/*
  gdm_failover_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/**/*, examples/failover/failover.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/failover/bigip-configurations/*
