Repository F5Networks/f5-google-gdm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_function_module_test_job, gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

gdm_network_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_application_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bastion_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_autoscale_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_standalone_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_dag_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_function_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_autoscale_payg_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_autoscale_existing_network_payg_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

updating version note and copyright year
  README.md
  examples/autoscale/bigiq/README.md
  examples/modules/access/README.md
Due: none

Fix for ESECLDTPLT-2922
  Makefile
  automated-test-scripts/Makefile
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/prepub_parameters2a.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/prepub_parameters2b.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/prepub_parameters2a.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/prepub_parameters2b.yaml
  automated-test-scripts/data/test_policies/khanna.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_network_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/find_bigiq.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/update_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/update_stack_for_delete.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/daily_test.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job

ESECLDTPLT-2975 - Parameterize Cluster Peer Addr
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/test_policy.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/test_policy.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/full/test_policy.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/create_storage_upload_runtime.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/tests/verify_application.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/modules/bigip-standalone/README.md
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/quickstart/README.md
Due: gdm_bigip_standalone_module_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

ESECLDTPLT-2727: Telemetry (Autoscaling metrics)
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/common/verify_telemetry.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/daily_test.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py
  examples/autoscale/bigiq/autoscale.py
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale.py
  examples/modules/access/access.py
Due: gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_failover_test_job

updating source address restriction language
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

ESECLDTPLT-2224
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/failover/diagram.png
  examples/quickstart/README.md
Due: none

Add documentation about service account required roles
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/modules/access/README.md
  examples/modules/access/sample_access.yaml
Due: none

update test policies
  automated-test-scripts/data/test_policies/post_release_test.yaml
  automated-test-scripts/data/test_policies/pre_release_test.yaml
Due: none

fix remaining test policy paths
  automated-test-scripts/data/test_policies/post_release_test.yaml
  automated-test-scripts/data/test_policies/pre_release_test.yaml
  automated-test-scripts/data/test_policies/scheduled/friday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/friday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/monday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/monday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/saturday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/saturday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/sunday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/sunday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/thursday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/thursday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/tuesday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/tuesday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/wednesday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/wednesday_main.yaml
Due: none

adding hyphens per ESECLDTPLT-3000
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale-existing-stack.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/failover/README.md
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
  examples/quickstart/README.md
  examples/quickstart/quickstart-existing-network.py.schema
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: gdm_autoscale_existing_network_payg_test_job

fixing line 85
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: none

fixing trailing spaces
  examples/autoscale/bigiq/sample_autoscale.yaml
  examples/autoscale/payg/sample_autoscale-existing-stack.yaml
  examples/autoscale/payg/sample_autoscale.yaml
  examples/quickstart/sample_quickstart.yaml
  examples/quickstart/sample_quickstart_existing_network.yaml
Due: none

fix YAML schema error
  examples/autoscale/bigiq/autoscale-existing-network.py.schema
  examples/autoscale/bigiq/autoscale.py.schema
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/autoscale.py.schema
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py.schema
  examples/quickstart/quickstart-existing-network.py.schema
  examples/quickstart/quickstart.py.schema
Due: gdm_autoscale_existing_network_payg_test_job

fix bug in quickstart runtime upload
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_storage_upload_runtime.sh
Due: none

using multiple DO configs for clustering
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/create_storage_upload_runtime.sh
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: gdm_failover_test_job

updated failover templates to pass cfeTag to modules
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/create_storage_upload_runtime.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack_existing_network.sh
  examples/failover/failover-existing-network.py
  examples/failover/failover.py
Due: gdm_failover_test_job

Adding BIGIP IP CIDR RANGE to missing tests
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq_existing_network/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters4.yaml
Due: gdm_autoscale_existing_network_payg_test_job, gdm_failover_test_job

ESECLDTPLT-3004 - [TEMPLATES 2.0][Failover] - BIG-IP Address Consistency
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/README.md
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/failover.py
  examples/failover/failover.py.schema
  examples/failover/sample_failover.yaml
  examples/failover/sample_failover_existing_network.yaml
Due: gdm_failover_test_job

ESECLDTPLT-2957 - IAM audit, documentation
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/access/tests/compare_permissions.py
  examples/README.md
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/access/README.md
  examples/modules/access/access.py
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_autoscale_payg_test_job, gdm_autoscale_existing_network_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

ESECLDTPLT-3058 - Remove Hardcoded Values in Runtime-Init
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/payg/full/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/payg/full/prepub_parameters2.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/access/tests/compare_permissions.py
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/access/README.md
  examples/modules/access/access.py
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_autoscale_payg_test_job, gdm_autoscale_bigiq_test_job, gdm_quickstart_test_job, gdm_failover_test_job

ESECLDTPLT-3061 - quickstart user
  .gitlab-ci.yml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/tests/verify_instance_onboarded.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/tests/verify_login.sh
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_quickstart_test_job

ESECLDTPLT-3044
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/modules/access/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/modules/dag/README.md
  examples/modules/function/README.md
  examples/modules/network/README.md
  examples/quickstart/README.md
Due: gdm_autoscale_bigiq_test_job

add banner
  README.md
Due: none

R22-1-1 - Merge main to develop
  README.md
Due: none

Path conditions:
  gdm_network_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/network/**/*, examples/modules/network/network.py
  gdm_application_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/**/*, examples/modules/application/application.py
  gdm_bastion_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/**/*, examples/modules/bastion/bastion.py
  gdm_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/**/*, examples/modules/bigip-autoscale/bigip_autoscale.py
  gdm_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip_standalone.py
  gdm_dag_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/**/*, examples/modules/dag/dag.py
  gdm_function_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/**/*, examples/modules/function/function.py
  gdm_autoscale_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/**/*, examples/autoscale/payg/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_existing_network_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/**/*, examples/autoscale/payg/autoscale-existing-network.py, examples/autoscale/payg/autoscale-existing-network.py.schema, examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  gdm_autoscale_bigiq_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/**/*, examples/autoscale/bigiq/autoscale.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-autoscale/bigip_autoscale.py, examples/modules/dag/dag.py, examples/modules/function/function.py, examples/modules/network/network.py, examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  gdm_quickstart_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/**/*, examples/quickstart/quickstart.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/quickstart/bigip-configurations/*
  gdm_failover_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/**/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/**/*, examples/failover/failover.py, examples/modules/access/access.py, examples/modules/application/application.py, examples/modules/bastion/bastion.py, examples/modules/bigip-standalone/bigip_standalone.py, examples/modules/dag/dag.py, examples/modules/network/network.py, examples/failover/bigip-configurations/*
